@model ItemUpdateViewModel
@{
    ViewBag.Title = "Edit";
}

<br />
<div class="container mt-5 p-3">
    <div class="card m-2 p-2">
        <p class="text-center" style="font-size:2em; font-weight:bolder; text-decoration-line:underline;">Selected: @Model.Name</p>
        <hr />
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" style="font-weight:bolder; font-size:1.5em;"></label>
                <div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <input asp-for="Name" class="form-control" />
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Description" style="font-weight:bolder; font-size:1.5em;"></label>
                <div>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <textarea asp-for="Description" class="form-control" rows="7" cols="200"></textarea>
            </div>
            <hr />
            <div class="text-center">
                <button class="btn btn-primary" style="font-size:1.5em;" type="submit">Save</button>
                <a asp-action="Index" style="font-size:1.5em;" class="btn btn-warning">Cancel</a>
            </div>
        </form>
    </div>
</div>