@model IEnumerable<Item>

@{
    ViewData["Title"] = "Home Page";
}


<div class="row pb-3">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-9">
            <a asp-action="Details" class="btn btn-outline-dark p-2 m-2" style="text-decoration:none;
            box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.71);" asp-route-id="@item.Id">
                <div class="card text-black-50">
                    <div class="card-header">
                        <p>Name: @item.Name</p>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">@item.Description</h5>
                    </div>
                </div>
            </a>
        </div>
    }
</div>